body{
font-family:Arial,Helvetica,sans-serif;
margin:0;
background-image: url("graphics/background.jpg");
}

header{
display:flex;
justify-content: space-between;
align-items: center;
background:#1f6f43;
color:#a0e691;
padding:16px;
}

nav a{
color:#a0e691;
margin-right:15px;
text-decoration:none;
}

.container{
max-width:1000px;
margin:auto;
padding:20px;
}

.button{
background:#1f6f43;
color:white;
padding:8px 12px;
border-radius:6px;
font-family: sans-serif;
font-weight: bold;
}

.user-icon{
width:100px;
height:100px;
cursor:pointer}

.user-menu {
  position: relative;
  display: inline-block;
}

.dropdown {
  display: none;
  position: absolute;
  right: 0;
  background: #1f6f43;
  border: 1px solid #ccc;
  padding: 10px;
}

.user-menu:hover .dropdown {
  display: block;
}

.dropdown a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
}

.bot_container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background: #1f6f43;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  font-family: sans-serif;
  font-weight: bold;
  color: #a0e691;
}

.card{
background:#a0e691;
padding:15px;
border-radius:10px;
margin-bottom:15px;
box-shadow:0 2px 6px rgba(0,0,0,0.1);
}

h2{
background-color:#1f6f43;
color:#a0e691;
}

h3{
color:#1f6f43;   
}

label{
color:#1f6f43;
}